body{
	background: black;
	position: relative;
}
canvas{
	border: 3px solid gray;
	position: absolute;
	left: 50%;
	margin-top: 25%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	//max-width: 80%;
}
	
	