body{
	background: #ffffff;
	color: black;
	font: 30px Palatino, serif;
}
#tabs{
	width: 100%;
}
#tabs .tab {
    display: inline-block; /* выстраиваем вкладки в один ряд */
	width: 32%;
    //padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
	text-align: center;
	border-bottom: 15px solid gray;
}
#tabs .whiteborder {
	border-bottom: 15px solid crimson;
}
#tabs .tabContent {
    height: 92%;
    position: relative;
    top: -1px; 
    z-index:1;
    padding: 50px;
    border-radius: 0 0 3px 3px;
	text-align: center;
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}
.gameIcon{
	display: inline-table;
	padding: 20px 7px;
	width: 322px;
	height: 350px;
	text-align: center;
	border: 1px solid gray;
	border-radius: 25px;
	background: #f8ffff;
	font: 25px Palatino, serif;
	margin-bottom: 10px;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
}
.gameIcon i{
	font-size: 17px;
	color: #0099cc;
}
.gameIcon:hover{
	border: 1px solid crimson;
}
.gameImg{
	width: 300px;
	height: 200px;
	border-radius: 15px;
}
#nothing{
	position: relative;
	font: bold 120px Times, serif;
	color: LightSteelBlue;
}